In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)
from datetime import timedelta

In [2]:
df = pd.read_csv('1124_1.csv',low_memory=False)

In [3]:
df

,travel_type_previous,line_name_previous,orientation_previous,enstation_code_previous,enstation_name_previous,lon1_previous,lat1_previous,enstation_time_previous,card_no_previous,exstation_name_previous,lon2_previous,lat2_previous,travel_type_yesterday,line_name_yesterday,orientation_yesterday,enstation_code_yesterday,enstation_name_yesterday,lon1_yesterday,lat1_yesterday,enstation_time_yesterday,card_no_yesterday,exstation_name_yesterday,lon2_yesterday,lat2_yesterday
0,2.0,T202,1.0,NaN,鹤林公交站,104.031400,30.478610,2022-11-03 07:01:05,1.000000e+15,999.0,前为公交,距离不符合要求,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,654,2.0,NaN,地铁理工大学站,104.138300,30.673890,2022-11-03 07:21:17,1.000000e+15,999.0,前为公交,距离不符合要求,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,135,1.0,NaN,东林二路口,104.127100,30.715550,2022-11-03 14:38:13,1.000000e+15,999.0,前为公交,距离不符合要求,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,128,1.0,NaN,民兴北一路北,104.157100,30.690840,2022-11-03 08:01:01,1.000000e+15,999.0,前为公交,距离不符合要求,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,654,2.0,NaN,芦竹苑,104.201600,30.735490,2022-11-03 06:38:01,1.000000e+15,999.0,前为公交,距离不符合要求,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2311373,2.0,710,1.0,NaN,四川传媒学院,103.980458,30.824965,2022-11-16 13:24:08,3.105170e+18,999.0,前为公交,距离不符合要求,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2311374,2.0,TG11,1.0,NaN,江畔路南,104.054900,30.477170,2022-11-16 13:50:15,3.105170e+18,999.0,前为公交,距离不符合要求,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2311375,2.0,56,2.0,NaN,成龙大道锦江大道口,104.137856,30.593241,2022-11-16 10:34:06,3.105170e+18,999.0,前为公交,距离不符合要求,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2311376,2.0,11,2.0,NaN,府城大道剑南大道口,104.047666,30.588228,2022-11-16 17:13:11,3.105170e+18,999.0,前为公交,距离不符合要求,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2311377,2.0,K12,2.0,NaN,地铁迎晖路站,104.138000,30.637000,2022-11-16 08:03:03,3.105170e+18,999.0,前为公交,距离不符合要求,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_need4_999 = df[df['card_no_previous'].isna()]

In [5]:
df_need123_999 = df[~df['card_no_previous'].isna()]

In [6]:
df_need123_999.reset_index(inplace=True,drop=True)

In [7]:
df_need4_999.reset_index(inplace=True,drop=True)

In [8]:
df_need123_999.drop(['travel_type_yesterday','line_name_yesterday','orientation_yesterday','enstation_code_yesterday','enstation_name_yesterday',
                    'lon1_yesterday','lat1_yesterday','enstation_time_yesterday','card_no_yesterday','exstation_name_yesterday','lon2_yesterday','lat2_yesterday'],axis=1,inplace=True)

C:\Users\孤怨\AppData\Local\Temp\ipykernel_13740\4122462293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_need123_999.drop(['travel_type_yesterday','line_name_yesterday','orientation_yesterday','enstation_code_yesterday','enstation_name_yesterday',

In [9]:
df_need123_999.to_csv('need5_999_123.csv',index=False)

In [10]:
df_need4_999.drop(['travel_type_previous','line_name_previous','orientation_previous','enstation_code_previous','enstation_name_previous',
                  'lon1_previous','lat1_previous','enstation_time_previous','card_no_previous','exstation_name_previous','lon2_previous','lat2_previous'],axis=1,inplace=True)

C:\Users\孤怨\AppData\Local\Temp\ipykernel_13740\3257272506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_need4_999.drop(['travel_type_previous','line_name_previous','orientation_previous','enstation_code_previous','enstation_name_previous',

In [11]:
df_need4_999.to_csv('need5_999_4.csv',index=False)

In [13]:
df_need123_999.dropna(subset='enstation_name_previous',inplace=True)

C:\Users\孤怨\AppData\Local\Temp\ipykernel_13740\3619266079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_need123_999.dropna(subset='enstation_name_previous',inplace=True)

In [14]:
df_need123_999

,travel_type_previous,line_name_previous,orientation_previous,enstation_code_previous,enstation_name_previous,lon1_previous,lat1_previous,enstation_time_previous,card_no_previous,exstation_name_previous,lon2_previous,lat2_previous
0,2.0,T202,1.0,NaN,鹤林公交站,104.031400,30.478610,2022-11-03 07:01:05,1.000000e+15,999.0,前为公交,距离不符合要求
1,2.0,654,2.0,NaN,地铁理工大学站,104.138300,30.673890,2022-11-03 07:21:17,1.000000e+15,999.0,前为公交,距离不符合要求
2,2.0,135,1.0,NaN,东林二路口,104.127100,30.715550,2022-11-03 14:38:13,1.000000e+15,999.0,前为公交,距离不符合要求
3,2.0,128,1.0,NaN,民兴北一路北,104.157100,30.690840,2022-11-03 08:01:01,1.000000e+15,999.0,前为公交,距离不符合要求
4,2.0,654,2.0,NaN,芦竹苑,104.201600,30.735490,2022-11-03 06:38:01,1.000000e+15,999.0,前为公交,距离不符合要求
...,...,...,...,...,...,...,...,...,...,...,...,...
1203463,2.0,710,1.0,NaN,四川传媒学院,103.980458,30.824965,2022-11-16 13:24:08,3.105170e+18,999.0,前为公交,距离不符合要求
1203464,2.0,TG11,1.0,NaN,江畔路南,104.054900,30.477170,2022-11-16 13:50:15,3.105170e+18,999.0,前为公交,距离不符合要求
1203465,2.0,56,2.0,NaN,成龙大道锦江大道口,104.137856,30.593241,2022-11-16 10:34:06,3.105170e+18,999.0,前为公交,距离不符合要求
1203466,2.0,11,2.0,NaN,府城大道剑南大道口,104.047666,30.588228,2022-11-16 17:13:11,3.105170e+18,999.0,前为公交,距离不符合要求
1203467,2.0,K12,2.0,NaN,地铁迎晖路站,104.138000,30.637000,2022-11-16 08:03:03,3.105170e+18,999.0,前为公交,距离不符合要求

In [12]:
df_need123_999['card_no_previous']

0          1.000000e+15
1          1.000000e+15
2          1.000000e+15
3          1.000000e+15
4          1.000000e+15
               ...
1203463    3.105170e+18
1203464    3.105170e+18
1203465    3.105170e+18
1203466    3.105170e+18
1203467    3.105170e+18
Name: card_no_previous, Length: 1203468, dtype: float64

In [13]:
df_match_104 = pd.read_csv('F:/公共交通/组合/1120/已匹配/104_match.csv',low_memory=False)

In [14]:
df_need123_999[df_need123_999['card_no_previous'].isin((df_match_104['card_no_yesterday']))]

,travel_type_previous,line_name_previous,orientation_previous,enstation_code_previous,enstation_name_previous,lon1_previous,lat1_previous,enstation_time_previous,card_no_previous,exstation_name_previous,lon2_previous,lat2_previous
37,2.0,223,1.0,NaN,书房村,104.231400,30.568800,2022-11-03 07:42:12,4.832518e+15,999.0,前为公交,距离不符合要求
38,2.0,4,1.0,NaN,迎宾大道口,104.008600,30.708680,2022-11-03 15:16:44,4.832518e+15,999.0,前为公交,距离不符合要求
39,2.0,109,1.0,NaN,武侯祠大街,104.055300,30.645850,2022-11-03 15:48:14,4.832518e+15,999.0,前为公交,距离不符合要求
65,2.0,666,1.0,NaN,毗河苑社区,104.170000,30.779130,2022-11-03 07:36:55,4.833810e+15,999.0,前为公交,距离不符合要求
287,2.0,83,2.0,NaN,兆景路聚龙路口,103.994500,30.624170,2022-11-03 08:03:08,4.861455e+15,999.0,前为公交,距离不符合要求
...,...,...,...,...,...,...,...,...,...,...,...,...
1203330,2.0,50,2.0,NaN,大源村,104.032528,30.550950,2022-11-16 20:46:55,9.994099e+15,999.0,前为公交,距离不符合要求
1203347,2.0,185,1.0,NaN,中和大道学苑路口,104.095310,30.550221,2022-11-16 07:24:28,9.998265e+15,999.0,前为公交,距离不符合要求
1203348,2.0,K19,1.0,NaN,海棠路锦江大道口,104.142300,30.596220,2022-11-16 07:41:11,9.999399e+15,999.0,前为公交,距离不符合要求
1203412,2.0,18,1.0,NaN,太升路口,104.078498,30.666171,2022-11-16 19:49:42,3.105170e+18,999.0,前为公交,距离不符合要求
1203440,2.0,185,2.0,NaN,天府二街南华路口,104.037484,30.550993,2022-11-16 09:03:13,3.105170e+18,999.0,前为公交,距离不符合要求

In [15]:
df_test1 = df_need123_999[df_need123_999['card_no_previous'].isin((df_match_104['card_no_previous']))]

In [16]:
df_test1.reset_index(inplace=True,drop=True)

In [17]:
df_test1

,travel_type_previous,line_name_previous,orientation_previous,enstation_code_previous,enstation_name_previous,lon1_previous,lat1_previous,enstation_time_previous,card_no_previous,exstation_name_previous,lon2_previous,lat2_previous
0,2.0,T202,1.0,NaN,鹤林公交站,104.031400,30.478610,2022-11-03 07:01:05,1.000000e+15,999.0,前为公交,距离不符合要求
1,2.0,654,2.0,NaN,地铁理工大学站,104.138300,30.673890,2022-11-03 07:21:17,1.000000e+15,999.0,前为公交,距离不符合要求
2,2.0,128,1.0,NaN,民兴北一路北,104.157100,30.690840,2022-11-03 08:01:01,1.000000e+15,999.0,前为公交,距离不符合要求
3,2.0,891,2.0,NaN,科干校,104.186500,30.584520,2022-11-03 07:17:08,1.000000e+15,999.0,前为公交,距离不符合要求
4,2.0,322,1.0,NaN,万花路南,103.971200,30.676520,2022-11-03 08:20:01,1.000000e+15,999.0,前为公交,距离不符合要求
...,...,...,...,...,...,...,...,...,...,...,...,...
317224,2.0,167,2.0,NaN,大源北二街,104.033819,30.555800,2022-11-16 08:52:23,3.105170e+18,999.0,前为公交,距离不符合要求
317225,2.0,76,2.0,NaN,二环建设路口,104.110208,30.670051,2022-11-16 07:18:42,3.105170e+18,999.0,前为公交,距离不符合要求
317226,2.0,76,1.0,NaN,东门大桥,104.085512,30.649932,2022-11-16 18:44:05,3.105170e+18,999.0,前为公交,距离不符合要求
317227,2.0,113,2.0,NaN,十里店公交站,104.135442,30.673518,2022-11-16 07:09:29,3.105170e+18,999.0,前为公交,距离不符合要求
317228,2.0,194,2.0,NaN,地铁九兴大道站,104.041249,30.619990,2022-11-16 08:45:28,3.105170e+18,999.0,前为公交,距离不符合要求

In [18]:
df_test1.loc[1]

travel_type_previous                       2.0
line_name_previous                         654
orientation_previous                       2.0
enstation_code_previous                    NaN
enstation_name_previous                地铁理工大学站
lon1_previous                         104.1383
lat1_previous                         30.67389
enstation_time_previous    2022-11-03 07:21:17
card_no_previous            1000000000060756.0
exstation_name_previous                  999.0
lon2_previous                             前为公交
lat2_previous                          距离不符合要求
Name: 1, dtype: object

In [19]:
path = 'F:/公共交通/组合/1120/已匹配/'

In [20]:
data_test = pd.DataFrame()

In [21]:
for i in range(104,117):
    print(str(i))
    df_test = pd.read_csv(path + str(i) + '_match.csv',low_memory=False)
    data = df_test[df_test['card_no_previous'] == 1000000000060756.0]
    data_test = pd.concat([data_test,data])

104
105
106
107
108
109
110
111
112
113
114
115
116

In [22]:
data_test.reset_index(drop=True,inplace=True)

In [23]:
data_test.drop(['card_no','card_type','travel_type','enstation_code','enstation_name','lon1','lat1','enstation_time','exstation_code',
                'exstation_name','lon2','lat2','exstation_time','line_no','line_name','busno','orientation','time_gap','arrive_time',
                'arrive_time','rec_date','key','line_no_del','vehicleNo','enstation_name_first','lon1_first','lat1_first','#',
                'travel_type_yesterday','line_name_yesterday','orientation_yesterday','enstation_code_yesterday','enstation_name_yesterday',
                'lon1_yesterday','lat1_yesterday','enstation_time_yesterday','card_no_yesterday','exstation_name_yesterday',
                'lon2_yesterday','lat2_yesterday','Unnamed: 0.1','X.','line_id1'],axis=1,inplace=True)

In [24]:
data_test

,travel_type_previous,line_name_previous,orientation_previous,enstation_code_previous,enstation_name_previous,lon1_previous,lat1_previous,enstation_time_previous,card_no_previous,time_dif,exstation_name_previous,lon2_previous,lat2_previous,enstation_name_first,lon1_first,lat1_first,#,travel_type_yesterday,line_name_yesterday,orientation_yesterday,enstation_code_yesterday,enstation_name_yesterday,lon1_yesterday,lat1_yesterday,enstation_time_yesterday,card_no_yesterday,exstation_name_yesterday,lon2_yesterday,lat2_yesterday,Unnamed: 0.1,X.,line_id1
0,2.0,654,1.0,NaN,木锦新城,104.189200,30.731020,2022-11-04 07:12:23,1.000000e+15,4143.0,地铁理工大学站,104.137747,30.672692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,654,1.0,NaN,十里店公交站,104.135624,30.673980,2022-11-07 07:08:57,1.000000e+15,3460.0,地铁理工大学站,104.137747,30.672692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,654,1.0,NaN,龙潭寺,104.166833,30.705232,2022-11-08 07:11:40,1.000000e+15,39459.0,十里店公交站,104.135607,30.673531,NaN,NaN,NaN,17784927.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500654.0
3,2.0,654,1.0,NaN,龙潭立交西,104.156500,30.692150,2022-11-09 07:17:08,1.000000e+15,4072.0,地铁理工大学站,104.137747,30.672692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,654,2.0,NaN,石板滩客运站,104.267400,30.729270,2022-11-10 07:15:54,1.000000e+15,3733.0,地铁理工大学站,104.138097,30.673412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2.0,654,2.0,NaN,石板滩客运站,104.267300,30.729340,2022-11-11 07:19:32,1.000000e+15,3798.0,地铁理工大学站,104.138097,30.673412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.0,654,1.0,NaN,十里店公交站,104.135580,30.673964,2022-11-14 07:18:32,1.000000e+15,3618.0,地铁理工大学站,104.137747,30.672692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2.0,654,2.0,NaN,龙潭立交,104.159400,30.695580,2022-11-15 07:16:12,1.000000e+15,3331.0,地铁理工大学站,104.138097,30.673412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2.0,654,2.0,NaN,芦竹苑,104.201600,30.735440,2022-11-16 07:17:24,1.000000e+15,3708.0,地铁理工大学站,104.138097,30.673412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
def haversine_distance(row, lon2, lat2):  #距离计算
    import math
    R = 6371
    dLon = math.radians(lon2 - row['lon1_previous'])
    dLat = math.radians(lat2 - row['lat1_previous'])
    lat1 = math.radians(row['lat1_previous'])
    lat2 = math.radians(lat2)
    a = math.sin(dLat / 2) ** 2 + \
        math.sin(dLon / 2) ** 2 * math.cos(lat1) * math.cos(lat2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    dis = R * c
    return dis

In [26]:
data_test.apply(haversine_distance,args=[104.1383,30.67389],axis=1)

0     8.002361
1     0.256120
2     4.426028
3     2.674266
4    13.794032
5    13.788952
6     0.260263
7     3.144526
8     9.135997
dtype: float64

In [27]:
df_test1 = df_test1.loc[1]

In [33]:
data_test

,travel_type_previous,line_name_previous,orientation_previous,enstation_code_previous,enstation_name_previous,lon1_previous,lat1_previous,enstation_time_previous,card_no_previous,time_dif,exstation_name_previous,lon2_previous,lat2_previous,enstation_name_first,lon1_first,lat1_first,#,travel_type_yesterday,line_name_yesterday,orientation_yesterday,enstation_code_yesterday,enstation_name_yesterday,lon1_yesterday,lat1_yesterday,enstation_time_yesterday,card_no_yesterday,exstation_name_yesterday,lon2_yesterday,lat2_yesterday,Unnamed: 0.1,X.,line_id1
0,2.0,654,1.0,NaN,木锦新城,104.189200,30.731020,2022-11-04 07:12:23,1.000000e+15,4143.0,地铁理工大学站,104.137747,30.672692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,654,1.0,NaN,十里店公交站,104.135624,30.673980,2022-11-07 07:08:57,1.000000e+15,3460.0,地铁理工大学站,104.137747,30.672692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,654,1.0,NaN,龙潭寺,104.166833,30.705232,2022-11-08 07:11:40,1.000000e+15,39459.0,十里店公交站,104.135607,30.673531,NaN,NaN,NaN,17784927.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500654.0
3,2.0,654,1.0,NaN,龙潭立交西,104.156500,30.692150,2022-11-09 07:17:08,1.000000e+15,4072.0,地铁理工大学站,104.137747,30.672692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,654,2.0,NaN,石板滩客运站,104.267400,30.729270,2022-11-10 07:15:54,1.000000e+15,3733.0,地铁理工大学站,104.138097,30.673412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2.0,654,2.0,NaN,石板滩客运站,104.267300,30.729340,2022-11-11 07:19:32,1.000000e+15,3798.0,地铁理工大学站,104.138097,30.673412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.0,654,1.0,NaN,十里店公交站,104.135580,30.673964,2022-11-14 07:18:32,1.000000e+15,3618.0,地铁理工大学站,104.137747,30.672692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2.0,654,2.0,NaN,龙潭立交,104.159400,30.695580,2022-11-15 07:16:12,1.000000e+15,3331.0,地铁理工大学站,104.138097,30.673412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2.0,654,2.0,NaN,芦竹苑,104.201600,30.735440,2022-11-16 07:17:24,1.000000e+15,3708.0,地铁理工大学站,104.138097,30.673412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
data_test['enstation_time_previous'][0][-8:]

'07:12:23'

In [48]:
data_test['daytime'] = df_test1['enstation_time_previous'][:11] + data_test['enstation_time_previous'].str[-8:]

In [56]:
data_test['daytime'] = pd.to_datetime(data_test['daytime'])

In [60]:
test_time + timedelta(minutes=15)

Timestamp('2022-11-03 07:36:17')

In [65]:
time_rule = (data_test['daytime'] <= (test_time + timedelta(minutes=15))) & (data_test['daytime'] >= (test_time - timedelta(minutes=15)))

In [68]:
df_test1

travel_type_previous                       2.0
line_name_previous                         654
orientation_previous                       2.0
enstation_code_previous                    NaN
enstation_name_previous                地铁理工大学站
lon1_previous                         104.1383
lat1_previous                         30.67389
enstation_time_previous    2022-11-03 07:21:17
card_no_previous            1000000000060756.0
exstation_name_previous                  999.0
lon2_previous                             前为公交
lat2_previous                          距离不符合要求
Name: 1, dtype: object

In [69]:
data_test = data_test[time_rule]

In [70]:
orientation_rule = data_test['orientation_previous'] == df_test1['orientation_previous']

In [72]:
data_test = data_test[orientation_rule]

In [73]:
line_rule = data_test['line_name_previous'] == df_test1['line_name_previous']

In [75]:
data_test = data_test[line_rule]

In [76]:
data_test.apply(haversine_distance,args=[104.1383,30.67389],axis=1)

4    13.794032
5    13.788952
7     3.144526
8     9.135997
dtype: float64