In [11]:
import pandas as pd
import numpy as np

In [2]:
def Redirection_1(Dataframe,col_1,col_2):
    redirection = {}
    df = Dataframe[[col_1,col_2]]
    for i in (range(len(Dataframe))):
        redirection[Dataframe[col_1].iloc[i]] = Dataframe[col_2].iloc[i]
    return redirection

In [3]:
df_busstation = pd.read_csv('D:/Code/YYH/test/chengdu_busstation_gaodev2.csv',low_memory=False)
df_busstation = df_busstation.drop_duplicates(subset=['stop_name','gcj02_lat','gcj02_lng']).reset_index(drop=True)

In [4]:
lat = Redirection_1(df_busstation,'stop_name','gcj02_lat')
lon = Redirection_1(df_busstation,'stop_name','gcj02_lng')

In [5]:
def data_read(url):
    data = pd.read_csv(url,low_memory=False)
    data['enstation_time'] = pd.to_datetime(data['enstation_time'])
    data['exstation_time'] = pd.to_datetime(data['exstation_time'],format='mixed')
    data = data[~data['exstation_time'].isna()]
    data = data[data['enstation_time'] != data['exstation_time']]
    data['duration'] = ((data['exstation_time'] - data['enstation_time']).dt.seconds)
    data['lon2'] = data['exstation_name'].map(lon)
    data['lat2'] = data['exstation_name'].map(lat)
    return data

In [6]:
TC_data = data_read('0402TC-data下车时间五.csv')
UTC_data_CatBoost = data_read('0402CatBoost下车时间五.csv')
UTC_data_XGBoost = data_read('0402XG下车时间五.csv')
UTC_data_RF = data_read('0402RF下车时间五.csv')

In [18]:
TC_data[['lon2','lat2']].sample(1000000)

               lon2       lat2
6302180  104.117840  30.677534
2183007  104.061902  30.624668
5931976  104.094831  30.646916
2243189  104.093682  30.694976
347416   104.093591  30.633686
...             ...        ...
4871024  104.135607  30.673531
4480705  104.055484  30.658058
1073061  104.063602  30.604109
4526149  103.990687  30.706604
5135580  104.104669  30.622089

[1000000 rows x 2 columns]

In [10]:
TC_data[['lon2','lat2']].sample(1000000).to_csv('TC-data-100w.csv',index=False)
UTC_data_CatBoost[['lon2','lat2']].sample(1000000).to_csv('UTC_data_CatBoost-100w.csv',index=False)
UTC_data_XGBoost[['lon2','lat2']].sample(1000000).to_csv('UTC_data_XGBoost-100w.csv',index=False)
UTC_data_RF[['lon2','lat2']].sample(1000000).to_csv('UTC_data_RF-100w.csv',index=False)